html{
    font-size: 10px;
}

body,html{
    background-size: contain;
    margin:0;
    padding:0;
    font-family:sans-serif;
    place-items: center;
    display: grid;
    min-height: 100vh;
}

.keys{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(255,255, 255, 0.20);
    box-shadow: 10px 10px 50px black;
    backdrop-filter: blur(5px);
    padding:50px;
}

.key{
    border: .4rem ;
    border-radius: .5rem;
    margin: 10px;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition:all .07s ease;
    width:10rem;
    text-align: center;
    color: rgb(238, 238, 238);
    text-shadow:  0 0 .5rem black;
    background-color: rgba(0,0, 0,.5);
    backdrop-filter: blur(5px);
}

.playing {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
  
kbd {
    display: block;
    font-size: 4rem;
}
  
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffffff;
}